/* caveat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/caveat-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/caveat-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* caveat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/caveat-v17-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/caveat-v17-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* caveat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/caveat-v17-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/caveat-v17-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* caveat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/caveat-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/caveat-v17-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Button Position, wo ist der Button auf der Website */
button{
  position: relative;
  left: 630px;
  bottom: -250px;
}
/* Das Design wenn der Cursor darauf zeigt. */
#button:Hover{
  cursor: pointer;
}
#button:Hover{
  background-color: #7FFFD4;
  color: black;
  box-shadow: 0 0 10px 0 #7FFFD4 inset, 0 0 10px 14px #fff;
  border: 5px solid #7FFFD4;

  font-family: Caveat;
  font-size: 25px;
}
/* Das eigentliche Button Design */
#button{
  margin: 20px;
  background-color: #3498DB;
  border: 5px solid #3498DB;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  box-sizing: content-box;
  width: 200px;
  height: 70px;
  font-family: Caveat;
  font-size: 50px;
}
